<% layout('./layout/boilerplate') -%>


    <form action="/classes" method="POST">
    <div class="row">
        <div class="col-6 offset-3">
            <h1 class="text-center">New Course</h1>
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" id="title" name="course[title]" class="form-control" >  
                </div>
                <div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" id="title" name="course[password]" class="form-control" >  
                    </div>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea id="description" name="course[description]" class="form-control" rows="3" ></textarea>
                </div>
                <button class="btn btn-success">Submit</button>
        </div>
    </div>
    </form>