<% layout('./layout/boilerplate') -%>
<br />
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1>Hello, world!</h1>
    <p>
      This is a template for a simple marketing or informational website. It
      includes a large callout called a jumbotron and three supporting pieces of
      content. Use it as a starting point to create something more unique.
    </p>
    <p>
      <a class="btn btn-primary btn-lg" href="/classes">Learn more &raquo;</a>
    </p>
  </div>
</div>
<br />
<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <% for(let course of courses){ %>
    <div class="col-md-4">
      <div class="card" style="width: 18rem">
        <div class="card-body">
          <h2 class="card-title"><%= course.title %></h2>
          <p class="card-text"><%= course.description.substring(0,61)%>....</p>
          <p>
            <a
              class="card-link"
              href="classes/<%=course._id%>"
              style="text-decoration: none"
              >View details &raquo;</a
            >
          </p>
        </div>
      </div>
    </div>
    <% } %>
  </div>
</div>
